/* VideoWall.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
  font-family: 'Mina', sans-serif;
  font-weight: 700;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom, #000000, #17113d, #5915a6);
  background-attachment: fixed;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto !important;
}

.blur-style-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.left-blur {
  filter: blur(1vh);
  width: 25%;
  height: 100%;
  background: linear-gradient(to right, #000000, #0a0022, #13003f);
}

.right-blur {
  filter: blur(1vh);
  width: 25%;
  height: 100%;
  background: linear-gradient(to left, #000000, #0a0022, #13003f);
}

.reservation-card {
  margin: 1rem;
  background-color: #E7F1FF;
  box-shadow: 0 1px 3vh #E7F1FF, 0 0 3vh #E7F1FF;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  width: 15vw;
  height: 20vh;
  overflow: hidden;
  cursor: pointer;
}

.student-name {
  margin-bottom: 0.5rem;
  font-size: calc(0.5rem + 1vw);
}

.room-name {
  font-size: calc(0.5rem + 0.75vw);
}

.time-range {
  margin-top: 0.5rem;
  font-size: calc(0.5rem + 0.75vw);
}

.student-name,
.room-name,
.time-range {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.animated-text {
  animation: slide-text var(--duration) infinite alternate linear;
}

@keyframes slide-text {
  0% {
    transform: translateX(calc(var(--percentage)));
  }
  100% {
    transform: translateX(calc(var(--percentage) - (2 * var(--percentage))));
  }
}

.fecha-dia {
  font-size: calc(0.5rem + 1vw);
  margin-bottom: 0.5rem;
}

.fecha-fecha {
  font-size: calc(0.5rem + 0.75vw);
  margin-bottom: 0.5rem;
}

.fecha-hora {
  font-size: calc(0.5rem + 0.75vw);
}

.vertical-carousel {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.vertical-carousel.scroll-down {
  animation: scroll-down 10s linear infinite;
}

.vertical-carousel.scroll-up {
  animation: scroll-up 10s linear infinite;
}

.vertical-carousel.paused {
  animation-play-state: paused;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.bienvenida {
  font-size: calc(0.5rem + 1.5vw);
}

.bienvenida-peque {
  font-size: calc(0.5rem + 0.75vw);
}

.manejo-reservas {
  font-size: calc(0.5rem + 2vw);
}

.dreamlab {
  height: 15vh;
  align-self: center;
  align-content: center;
}
